script(src="/javascripts/search-bar.js")
nav(class="navbar navbar-expand-lg navbar-light bg-white")
    a(class="navbar-brand "  href="/tweets")
        img( class="App-logo" width="30" height="30" src="/images/crevettelogoblack.png")
    button(class="navbar-toggler")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse")
            if isAuthenticated
                form
                    input(type="text" class="form-control me-2" placeholder="Recherche" id="search-input")
                    div(id="search-menu-container")
                        
                span(class="Title ms-5") LA CREVETTE VA PLANER ? 
                ul(class="navbar-nav ms-auto")
                    li(class="nav-item active")
                        a(class="btn btn-dark btn-tweet me-3" href="/tweets/new") Ecrire un article
                    li(class="nav-item active")
                        a(class="nav-link me-2" href="/auth/signout") Déconnexion 
            else 
                span(class="Title ms-5") LA CREVETTE VA PLANER ? 
                ul(class="navbar-nav ms-auto")
                    li(class="nav-item")
                        a(class="nav-link me-2" href="/auth/signin/form") Connexion
                    li(class="nav-item")
                        a(class="nav-link me-2" href="/users/signup/form") Inscription 